# email settings
email:

  # smtp details
  hostname:
  port:
  user_name:
  password:
  starttls:

  # email content
  subject: "[inspectors-general] Notice"
  from:
  from_name:
  to:

# configuration for posting errors to slack.com
slack:
  # get this URL from the Integrations page on your Slack
  webhook: "https://yourslackhere.slack.com/services/hooks/incoming-webhook?token=xxxxxxxxxxxxxxxxxxxxxxxx"

  # change these to customize the appearance of your bot
  # use either icon_url or icon_emoji
  username: "Custom Bot Name"
  icon_url: "https://slack.com/img/icons/app-57.png"
  icon_emoji: ":sushi:"

  # set this to #channel to override the assigned channel, or set to @username
  # to only send a direct message
  channel: "@yournamehere"

# data output directory
data_directory: data

# fill in if you will be syncing content to the Internet Archive (admin only, please)
internet_archive:
  access_key:
  secret_key:
