ipython
scrapelib>=0.10.0
BeautifulSoup4
pyyaml
lxml
requests>=2.12.0
certifi>=2015.11.20.1
python-docx
pdfrw

# for backing up reports. can't use [speedups] while it depends on gevent.
# -e git+git://github.com/konklone/ia-wrapper.git@py3-hack#egg=internetarchive
