#!/usr/bin/env python

import utils
from pyquery import PyQuery


def run(options):
  # Delete all this when you start!
  print "The scraper starts running here!"
  print "Use utils.download(url) to download from the web."
  print "Add some comments above with whatever options you want the scraper to take."


utils.run(run)